
@{
    ViewData["Title"] = "Index";
}

<h2>Hi Ha Sir</h2>
<article>
    <section>
        This my first MVC web application developed by myself using source control github and deploying it in Microsoft
        Azure :)
    </section>
    <h2>
        <div class="clock"></div>
    </h2>
</article>